*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# sorties de build des modules (app/build, etc.)
build/

# répertoire de travail du compilateur Kotlin
.kotlin/
